html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(59, 59, 66);
    text-align: center;
    margin: 0;
}
body, html{
    height: 100%;
}
.text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    text-align: center;
    font-weight: bolder;
}
/*  */
/* START of heading and images */
.image{

}
.image .text{
    background-color: rgba(0, 0, 0, 0.391);
    color: rgb(255, 255, 255);
}
&::before{
    content: '';
    opacity: .4;
}
.parallax {
    /* The image used */
    background-image: url("/Resources/Images/board.png");
  
    /* Set a specific height */
    height: 100%;
    min-height: 500px;
    /* opacity: 40%; */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
/* END of heading and images */
/*  */
/* START of nav-bar */
#nav-bar{
    background-color:rgb(34, 31, 42);
    overflow: hidden;
    width: 100%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
#nav-bar a{
    display: block;
    float: left;
    text-align: center;
    margin: 0;
    padding: 10px 10px;
}
a {
    display: inline-block;
    padding: 10px 10px;
    margin: 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover {
    background-color: #949494;
}  
/* END of nav-bar */
main{
    height: 2000px;
}